*{
    padding: 0;
    margin: 0;
}

#mainimg{
    width: 100%;
    height: 550px;
}

#imgbox{
    position: relative;
}

#txbox{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate( -50%, -50%);
    color: white;
    width: 100%;
    font: bold;
}

hr{
    border: 1px solid black;
    width: 80%;
    margin: auto;
    margin-bottom: 70px;
}

#txbox *{
    padding: 10px;
}

#currentlist{
    margin: 70px auto;
    text-align: center;
}

#listbox{
    margin: auto;
    border: 2px solid grey;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    width: 80%;
    height: 500px;
    margin-bottom: 70px;
}



