#page{
    width: 95%;
    margin-left: auto; margin-right: auto;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}
@keyframes fadeInOpacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.card p{
    font-weight: 600;
    font-size: 1.5em;
}
.card{
    border: 0px;
    border-radius: 0px;
    margin: 0px 15px;
    background-color: whitesmoke;
    margin-bottom: 60px;
    width: 30%;
    min-width: 200px;
}
#btn{
    width: 120px;
    height: 45px;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.card a{
    font-size: 0.7em;
    letter-spacing: 2px;
}