@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);



body{
    padding: 0;
    margin: 0;
    }

    .navbar{

        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    .navbar *{
        margin : auto;
        font-size: 20px;
        color: grey;   
    }

    .navbar *:hover{
        text-decoration-line: none;
        color: grey;
    }

    .navbar #nt{
        color: black;
    }

    .navbar a,
    .navbar h3{
               padding: 0 20px;
              }

.card{
    border: none !important; 
    margin : 0 auto;
   
   
}

.card h3{
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Nanum Myeongjo', serif;

}

.card h4{
    font-family: 'Nanum Myeongjo', serif;
    color: grey;
    font-size: 15px;
   
}

.card p{
    font-size: 15px;
}

.card #hot{
    margin: 0 auto;
}


.card #drpi{
    margin-top: 0px;
}


.ht{
    border-bottom: 1px solid black;
}

.ht #hdtext{
    padding-top: 150px;
    font-size: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
   
    
}

.ht #hdtext2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 10px;
}

.ht #hdtext3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.ht #hdtext4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 30px;
}



.card #id{
    margin: 0 auto;
}


.header{
    width: 100%;
    background: url(../img/Geb.jpg);
    background-position: center;
}

.header #hd1{
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 150px;
    font-family: 'Nanum Myeongjo', serif;

}

.header #hdline{
   border: 2px solid white;
   margin-left: auto;
   margin-right: auto;
   width: 6%;
   margin-top: 40px;
}

.header #hd2{
    font-size: 23px;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 150px;
    
}



.container img{
    display: flex;
    margin-left: auto; 
    margin-right: auto;
    
}





