@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

         body{
             padding: 0;
             margin: 0;
         }

        .navbar{

            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            margin-bottom: 50px;
            
        }

        .navbar *{
            margin : auto;
            font-size: 20px;
            color: grey;   
        }

        .navbar a,
        .navbar h3{
            padding: 0 20px;
        }

        .navbar *:hover{
            text-decoration-line: none;
            color: grey;
        }

        .navbar #nt{
            color: black;
        }


.header{
    width: 100%;
    background-image: url(../img/Newb.jpg);
   
    background-position: center;
    
    
}

.header #hd1{
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 150px;
    font-family: 'Nanum Myeongjo', serif;

}

.header #hdline{
   border: 2px solid white;
   margin-left: auto;
   margin-right: auto;
   width: 6%;
   margin-top: 40px;
}

.header #hd2{
    font-size: 23px;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 150px;
    
}


.container img{
    display: flex;
    margin-left: auto; 
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20px;
}



       

