@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
#my *{
    margin: 0px auto;
    width: 100%;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* 헤더 부분 스타일 지정*/
.header{
    font-family: 'Nanum Myeongjo';
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 100%;
    height: 90px; /*★★★네비 지정후 높이 변경해야함 100*/
    position: fixed; /*상단 고정*/
    display: flex;
    justify-content: center;
}   
.headerwrap{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ww2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* 1200px전에 안보임 */
.ww1{
    display: none;
}
/* 반응형!! 브라우저 너비 1200xp이상 일때 반응 */
@media(min-width: 1200px){
    .header{
        font-family: 'Nanum Myeongjo';
        left: 0;
        top: 0;
        margin: 0px;
        padding: 0px;
        background-color: white;
        width: 100%;
        height: 90px; /*★★★네비 지정후 높이 변경해야함 100*/
        position: fixed; /*상단 고정*/
        display: flex;
        justify-content: center;
    }   
    .headerwrap{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .ww1{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .ww2{
        display: none;
    }

    .menu{
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    /* 최상위 메뉴 수평 */
    .menu .mli{
        float: left;
        padding: 0;
        position: relative;
    }

    /* 앵커요소 설정 */
    .menu li .ma{
        text-decoration: none;
        color: black;
        margin-left: 40px;
        font-family: 'Nanum Myeongjo';
        font-weight: 800;
    }
    /* 서브메뉴 나와도 위치고정 및 설정 */
    .sub1{
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
    }
    .sub1 li{
        width: 100%;
    }
    /* 호버 설정  */
    .menu li:hover .sub1{
        display: block;
        border-top: 3px solid green;          
        background-color: white;
        margin-left: 30px;
    }
    .sa{
        width: 100%;
        display: block;
        text-decoration: none;
        margin-left: 15px;
        margin-right: 120px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Nanum Gothic';
        font-weight: 700;
        color: black;
    }

    .sa :hover{
        color: green;
    }

    .menu li:hover .sub2{
        display: block;
        border-top: 3px solid green;
        background-color: white;
        margin-left: 30px;
    }

    .sub2{
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
    }
} /*media*/
/* 햄버거 메뉴 */
#wrap{
    width: 20px;
    height: 40px;
    background: white;
    justify-content: end;
}
#wrap:hover .line{
    background: green;
}

.line{
    background: black;
    margin-top: 2px;
    width: 100%;
    height: 2px;
    border-radius: 8px;
    position: relative;
}

#wrap2{
    width: 25px;
    height: 40px;
    justify-content: end;
}
#wrap2:hover .line2{
    background: green;
}
.line2{
    background: white;
    margin-top: 2px;
    width: 100%;
    height: 2px;
    position: relative;
    border-radius: 8px;
}

.overlap{
    display: none;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 90%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    transition: 0.5;
    overflow: scroll;
}

.navv{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navheader{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between; 
    width: 95%;
    height: 90px;
    color: white;
    margin: 30px;
}
.navheader a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    margin: 5px;
}
.navheader a:hover{
    color: green;
}

.navheader a p{
    margin-left: 15px;
}

#mainimg{
    margin-top: 200px;
    width: 60%;
    max-width: 660px;
    min-width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainimg{
    margin-top: 200px;
    width: 60%;
    max-width: 660px;
    min-width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titlearea{
    margin-top: 70px;
    width: 60%;
    max-width: 1000px;
    min-width: 350px;
}
#title{ font-size: 24px; }
#miniline{
    margin-top: 10px;
    width: 100%;
}
.miniimg{
    height: 22px;
    width: auto;
    max-width: 320px;
}
#line{
    width: 100%;
    margin-top: 10px;
    border: 0.5px dotted gainsboro;
}
#detail{
    width: 100%;
    max-width: 660px;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#commentarea{
    margin-top: 50px;
    min-width: 360px;
    width: 60%;
}
#p1{ font-size: 14px; }
#p2{
    margin-top: 10px;
    font-size: 10px;
    color: grey;
}
.comment{
    margin-top: 32px;
    margin-bottom: 5px;
    font-size: 12px;
    color: dimgray;
}
#comment{
    height: 100px;
}
.input{
    border: 0.5px solid gainsboro;
    padding: 12px;
}
.input:focus{ outline: none; }
#cb{ margin-top: 30px; }
label{
    font-size: 12px;
    color: dimgray;
}
#submit{
    margin-top: 30px;
    width: 150px;
    padding: 10px 0px;
    border: 0.1px solid gainsboro;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: green;
    cursor: pointer;
}
/* 푸터 */
.footer1{
    display: none;
}
.footer2{
    font-family: 'Nanum Myeongjo';
    display: flex;
    flex-direction: column;
    margin: 60px;
}
.fi{
    margin-bottom: 20px;
}
.footerimg2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
@media(min-width: 800px){
    .footer2{
        display: none;
    }
    
    .footer1{
        font-family: 'Nanum Myeongjo';
        display: flex;
        flex-direction: column;
        margin: 60px;
    }
    .footer11{
        display: flex;
        justify-content: space-between;
    }     
} /*반응형*/