@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);



body{
    padding: 0;
    margin: 0;
    }

    .navbar{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    .navbar *{
        margin : auto;
        font-size: 20px;
        color: grey;   
    }

    .navbar *:hover{
        text-decoration-line: none;
        color: grey;
    }

   

    .navbar a,
    .navbar h3{
        padding : 0 20px
    }

    .navbar #nt{
        color: black;
    }

.card{
    width: 25rem;
    border: none !important; 
    margin : 0 auto;
    text-align: center;
    
    
}

.card h3{
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Nanum Myeongjo', serif;

}

.card h4{
    font-family: 'Nanum Myeongjo', serif;
    color: grey;
    font-size: 15px;
    margin-top: -7px;
}

.card p{
    font-size: 15px;
}

.card #hot{
    margin: 0 auto;
}

.card #drpi{
    margin-top: 0px;
}



.header{
    width: 100%;
    background: url(../img/Spb.jpg);
    background-position: center;
}

.header #hd1{
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 150px;
    font-family: 'Nanum Myeongjo', serif;

}

.header #hdline{
   border: 2px solid white;
   margin-left: auto;
   margin-right: auto;
   width: 6%;
   margin-top: 40px;
}

.header #hd2{
    font-size: 23px;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 150px;
    
}

.row{
    margin-top: 50px;
}





