@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);



body{
    padding: 0;
    margin: 0;
    }

    .navbar{

        width: 60%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    .navbar *{
        margin : auto;
        font-size: 20px;
        color: grey;   
    }

    .navbar *:hover{
        text-decoration-line: none;
        color: grey;
    }

    .navbar #nt{
        color: black;
    }

.card{
    width: 25rem;
    border: none !important; 
    margin : 0 auto;
    text-align: center;
    
}

.card h3{
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Nanum Myeongjo', serif;

}

.card h4{
    font-family: 'Nanum Myeongjo', serif;
    color: grey;
    font-size: 15px;
   
}

.card p{
    font-size: 15px;
}

.card #hot{
    margin: 0 auto;
}

.card #fire{
    margin: 0 auto;
}

.card #drpi{
    margin-top: 0px;
}

.ht #hdtext{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nanum Myeongjo', serif;

}

.ht #hdtext2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px;
}

.ht #line{
   margin-left: 250px;
   margin-right: 250px;

   border : 0.1px solid black;

}

.card #id{
    margin: 0 auto;
}


.row{
    padding: 20px 300px 20px 300px;
}

.header{
    width: 100%;
    background: url(../img/Rib.jpg);
    background-position: center;
}

.header #hd1{
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 150px;
    font-family: 'Nanum Myeongjo', serif;

}

.header #hdline{
   border: 2px solid white;
   margin-left: auto;
   margin-right: auto;
   width: 6%;
   margin-top: 40px;
}

.header #hd2{
    font-size: 23px;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 150px;
    
}








