body{padding: 0; margin: 0;}
#mainimg{
    width: 100%;
    height: 550px;
}

/* 헤더 부분 스타일 지정*/
.header{
    z-index: 1;
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 100%;
    height: 90px; /*★★★네비 지정후 높이 변경해야함 100*/
    position: fixed; /*상단 고정*/
    display: flex;
    justify-content: center;
}   
.headerwrap{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ww2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* 1200px전에 안보임 */
.ww1{
    display: none;
}
    /* 반응형!! 브라우저 너비 1200xp이상 일때 반응 */
    @media(min-width: 1200px){
        .header{
            margin: 0px;
            padding: 0px;
            background-color: white;
            width: 100%;
            height: 90px; /*★★★네비 지정후 높이 변경해야함 100*/
            position: fixed; /*상단 고정*/
            display: flex;
            justify-content: center;
        }   
        .headerwrap{
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .ww1{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .ww2{
            display: none;
        }

        .menu{
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        /* 최상위 메뉴 수평 */
        .menu .mli{
            float: left;
            padding: 0;
            position: relative;
        }

        /* 앵커요소 설정 */
        .menu li .ma{
            text-decoration: none;
            color: black;
            margin-left: 40px;
            font-family: 'Nanum Myeongjo';
            font-weight: 800;
        }
        /* 서브메뉴 나와도 위치고정 및 설정 */
        .sub1{
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
        }
        .sub1 li{
            width: 100%;
        }
        /* 호버 설정  */
        .menu li:hover .sub1{
            display: block;
            border-top: 3px solid green;          
            background-color: white;
            margin-left: 30px;
        }
        .sa{
            width: 100%;
            display: block;
            text-decoration: none;
            margin-left: 15px;
            margin-right: 120px;
            margin-top: 20px;
            margin-bottom: 20px;
            font-family: 'Nanum Gothic';
            font-weight: 700;
            color: black;
        }

        .sa :hover{
            color: green;
        }

        .menu li:hover .sub2{
            display: block;
            border-top: 3px solid green;
            background-color: white;
            margin-left: 30px;
        }

        .sub2{
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
        }
    } /*media*/

li{
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:800px){

    #under_seoul{width: 90%;}

    #container1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #container1 div{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    #container2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #container2 div{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    #button_container {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #button_container div{
        width: 80%;
    }

}

@media all and (max-width: 1600px){
    #container1 {
        margin-top: 60px;
    }

    #container2 {
        margin-top: 60px;
    }

    #button_container {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #button_container div{
        margin-top: 10px;
        width: 80%;
    }          
}

#imgbox{
    position: relative;
}

#txbox{
    position: absolute;
    text-align: center;
    vertical-align: baseline;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    color: white;
    width: 100%;
    font: bold;
}

#region{
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
}

#region h3{
    display: inline;
    padding-right: 60px;
    padding-left: 60px;

}

#seoul{
    color: black;
}

#south{
    color: grey;
}

#sudo{
    position: relative;
    font-size: 40px;
    display: flex;
    justify-content: center;
    bottom: 20px;
    
}

#under_seoul{
    position: relative;
    width: 60%;
    color: black;
    background-color: black;
    height: 1;
    border: 0.3px solid black;
    margin-bottom: 100px;
}

#container1{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    width: 60%;
    justify-content: center;
    align-items: center;
}

#container2{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    width: 60%;
    justify-content: left;
    align-items: center;
}

#card{
    width: 30%;
    height: 500px;
    margin-right: 20px;
    margin-left: 20px;
    
}

#card3{
    width: 30%;
    height: 500px;
    margin-right: 20px;
    margin-left: 20px;
    
}

#card1{
    width: 30%;
    height: 500px;
    margin-right: 20px;
    margin-left: 20px;
    
}

#text_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

h5{
    text-align: center;
    font-size: 15px;
}

#button_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    
    width: 50%;
    text-align: center;
    margin-left: 13px;
    margin-right: 13px;
    padding: 15px;
    font-size: 16px;
}

#b1{
    border: 3px solid #005f00;
}

#b1:hover{
    cursor: pointer;
}

#b2{
    background-color: #dfdfdf;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}

#b2:active{
    border: 0px solid grey;
    border-left: 2px solid grey;
    border-top: 2px solid grey;
}

#store{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 20px;
    background: #dfdfdf;
    font-size: 20px;
    transition: all 0.4s;
}

#store:before{
    content: "";
    z-index: -1;
    position: absolute;
    background: #003f00;
    transition: all 0.4s;
}

#store:hover{
    cursor: pointer;
    color: white;
    opacity: 0.9;
    
}

.store_box:before{
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
}

.store_box:hover:before{
    width: 100%;
}

#a1{
    color: grey;
    text-decoration-line: none;
}

.modal_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(12, 12, 12, 0.8);
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}


#mcontent{
    padding-left: 200px;
    padding-right: 200px;
	font-size: 15px;
	font-weight: bold;
}

.modal {
	background: white;
}

#min{
    padding-top: 50px;
    padding-bottom: 20px;
    width: 340px;
    height: 320px;
}

#xb{
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: right;
    width: 40px;
    height: 40px;
}

#xb:hover{
    cursor: pointer;
}



/* 푸터 */
.footer1{
    display: none;
}
.footer2{
    display: flex;
    flex-direction: column;
    margin: 60px;
}
.fi{
    margin-bottom: 20px;
}
.footerimg2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


/* 푸터  */
@media(min-width: 800px){
.footer2{
display: none;
}

.footer1{
display: flex;
flex-direction: column;
margin: 60px;
}
.footer11{
display: flex;
justify-content: space-between;
}     
} /*반응형*/





/* 햄버거 메뉴 */
#wrap{
width: 20px;
height: 40px;
background: white;
justify-content: end;
}
#wrap:hover .line{
background: green;
}

.line{
background: black;
margin-top: 2px;
width: 100%;
height: 2px;
border-radius: 8px;
position: relative;
}

#wrap2{
width: 25px;
height: 40px;
justify-content: end;
}
#wrap2:hover .line2{
background: green;
}
.line2{
background: white;
margin-top: 2px;
width: 100%;
height: 2px;
position: relative;
border-radius: 8px;
}

.overlap{
display: none;
width: 100%;
height: 100%;
background: black;
opacity: 90%;
position: fixed;
z-index: 100;
top: 0;
left: 0;
transition: 0.5;
overflow: scroll;
}

.navv{
display: flex;
justify-content: space-between;
width: 100%;
}