*{padding: 0px; margin: 0;}

#topImage{
    background-image: url(http://www.drrobbin.com/wp-content/uploads/2019/04/recruit-header-01.jpg);
    background-position: center;
    width: 100%;
    height: 500px;
}
#div{
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 20px;
    padding-right: 60px;
    padding-left: 60px;
}




#holisticImage{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 50px;
}
@media(min-width:800px){
    #holisticImage{
        display: flex;
        flex-direction: row;
        width: 65%;
        margin-left: 17%;
        
    }
    #wrapImages{
        background-image: url(http://www.drrobbin.com/wp-content/uploads/2019/04/coffee-banner.jpg);
        background-position: center;
        width: 100%;
        height: 400px;
    }
    #wrapImages2{
        background-image: url(http://www.drrobbin.com/wp-content/uploads/2019/04/cook-banner2.jpg);
        background-position: center;
        width: 100%;
        height: 400px;
    }
}

#wrapImages1{
    background-image: url(http://www.drrobbin.com/wp-content/uploads/2019/04/coffee-banner.jpg);
    background-position: center;
    width: 100%;
    height: 400px;
    
}
#wrapImages2{
    background-image: url(http://www.drrobbin.com/wp-content/uploads/2019/04/cook-banner2.jpg);
    background-position: center;
    width: 100%;
    height: 400px;
    
}

#div1{
    overflow: hidden;
    margin: 40px;
}
#div2{
    margin: 40px;
    overflow: hidden;
}


#text1{
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text2{
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(min-width:800px){    
#holisticIamge{
    width: 62%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;   
}
    #wrapImages1{
    width: 550px;
    height: 350px;
    display: flex;
    flex-direction: column;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

    #wrapImages2{
    width: 550px;
    height: 350px;    
    display: flex;
    flex-direction: column;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

}



#wrapImages1:hover{
    cursor: pointer;
    
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
#wrapImages2:hover{
    cursor: pointer;
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}






#contentsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width:800px){
    #contentsWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        
    }

    #contentsWrapper div{
        width: 80%;
    }
    .list{
        padding-left: 50px;
        
    }
    
}

#content1{
    width: 30%;
    height: 270px;
    border-width: 3px;
    background-color: #eeeeee;
    border-radius: 30px;
    margin: 10px;
}

#content2{
    width: 30%;
    height: 270px;
    border-width: 3px;
    background-color: #eeeeee;
    border-radius: 30px;
    margin: 10px;
}
#content3{
    width: 30%;
    height: 270px;
    border-width: 3px;
    background-color: #eeeeee;
    border-radius: 30px;
    margin: 10px;
}

.h{
    font-size: 30px;
    transform: translateY(-22px);
}



.list{
    margin: 30px;
    margin-right: 30px;
    
}


#Recruitment{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 35px;
    margin-bottom: 30px;
}

#RecruitmentImage{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    
}

@media(min-width:800px){
    #RecruitmentImage{
        display: flex;
        width: 100%;
        height: 100%;
        margin-bottom: 100px;
    }
}
#HowtoSupport{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 30px;
}
#fieldset{
    display: flex;
    flex-direction: column;   
    margin: 35px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

@media(min-width:800px){
    #fieldset{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
    }
}

#document{
    border: 2px solid black;
    width: 230px;
    height: 50px;
    font-size: 10px;
    text-align: center;
}
#document:hover{
    cursor: pointer;
    background-color: green;
    transition: all 0.5s;
    border: 2px solid green ;
    color: #ffffff;
}

#document{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 내일 할 일 margin top , margin-left  */


