body{padding: 0; margin: 0;}
#mainimg{width: 100%;}

@keyframes anim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



#region{
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
}

#region h3{
    display: inline;
    padding-right: 60px;
    padding-left: 60px;

}

#seoul{
    color: black;
}

#south{
    color: grey;
}

#sudo{
    position: relative;
    font-size: 40px;
    display: flex;
    justify-content: center;
    bottom: 20px;
    
}

#under_seoul{
    position: relative;
    width: 60%;
    color: black;
    background-color: black;
    height: 1;
    border: 0.3px solid black;
}

#container1{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    width: 60%;
    justify-content: center;
    align-items: center;
}

#container2{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    width: 60%;
    justify-content: left;
    align-items: center;
}

#card{
    width: 35%;
    padding: 20px;
}

#card3{
    width: 35%;
    padding-left: 10px;
}

#card1{
    width: 35%;
    padding-right: 10px;
}

#text_container{
    display: flex;
    justify-content: center;
}

h5{
    text-align: center;
    font-size: 18px;
}

#button_container{
    display: flex;
    justify-content: center;
}

.button{
    display: inline;
    width: 45%;
    text-align: center;
    margin-left: 13px;
    margin-right: 13px;
    padding: 13px;
    font-size: 12px;
}

#b1{
    border: 3px solid #005f00;
}

#b2{
    background-color: #dfdfdf;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}

#store{
    display: flex;
    justify-content: center;
    background-color: #dfdfdf;
    padding: 20px;
    font-size: 20px;
}

#store:hover{
    background-color: #003f00;
    
    color: white;
    transition:all 0.4s;

}

#a1{
    color: grey;
    text-decoration-line: none;
}