body{padding: 0; margin: 0;}
#mainimg{width: 100%;}

#region{
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
}

#region h3{
    display: inline;
    padding-right: 60px;
    padding-left: 60px;

}

#seoul{
    color: black;
}

#south{
    color: grey;
}

#sudo{
    position: relative;
    font-size: 40px;
    display: flex;
    justify-content: center;
    bottom: 20px;
    
}

#under_seoul{
    position: relative;
    width: 60%;
    color: black;
    background-color: black;
    height: 1;
    border: 0.3px solid black;
}

#container1{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    width: 60%;
    justify-content: center;
    align-items: center;
}

#container2{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    width: 60%;
    justify-content: left;
    align-items: center;
}

#card{
    width: 35%;
    padding: 20px;
}

#card3{
    width: 35%;
    padding-left: 10px;
}

#card1{
    width: 35%;
    padding-right: 10px;
}

#text_container{
    display: flex;
    justify-content: center;
}

h5{
    text-align: center;
    font-size: 18px;
}

#button_container{
    display: flex;
    justify-content: center;
}

.button{
    display: inline;
    width: 45%;
    text-align: center;
    margin-left: 13px;
    margin-right: 13px;
    padding: 13px;
    font-size: 12px;
}

#b1{
    border: 3px solid #005f00;
}

#b1:hover{
    cursor: pointer;
}

#b2{
    background-color: #dfdfdf;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}

#b2:active{
    border: 0px solid grey;
    border-left: 2px solid grey;
    border-top: 2px solid grey;
}

#store{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
    background: #dfdfdf;
    font-size: 20px;
    transition: all 0.4s;
}

#store:before{
    content: "";
    z-index: -1;
    position: absolute;
    background: #003f00;
    transition: all 0.4s;
}

#store:hover{
    cursor: pointer;
    color: white;
    opacity: 0.9;
    
}

.store_box:before{
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
}

.store_box:hover:before{
    width: 100%;
}

#a1{
    color: grey;
    text-decoration-line: none;
}